@media screen and (min-width: 1200px) {
  .container{
    width: 75%;
    max-height: 1600px;
    margin: 0 auto;
  }

  .container-small{
    width: 40%;
    max-width: 800px;
  }

  .desktop{
    display: block;
  }

  header .right-header{
    align-items: center;
  }
  
  header .right-header ul{
    list-style: none;
  }
  
  header .right-header ul li{
    display: inline;
  }
  
  header .right-header ul li a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 18px;
  }

  header .hamburger-menu{
    display: none;
  }

  #app-infos .col.big{
    padding-bottom: 0;
    flex-direction: row;
  }

  #app-infos .col.big .content{
    width: 50%;
  }
  
  #app-infos .col.big .img-container{
    width: 50%;
    align-items: flex-end;
  }
  
  #app-infos .col.big .img-container img{
    width: 100%;
    margin: 0;
  }

  #app-description .row .col.left h2{
    font-size: 2rem;
  }

  #testimonials .container > h2{
    font-size: 3rem;
    margin-top: 20px;
  }

  #testimonials .row .col{
    justify-content: space-between;
  }

  #testimonials .row .col .img-container{
    width: 20%;
  }

  #testimonials .row .col .content{
    width: 76%;
  }

  #app-description .row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #app-description .row .col{
    width: 40%;
    padding: 0 50px;
  }

  #app-description .row .col.right{
    align-self: flex-end;
  }

  #app-description .row .col.right img{
    width: 50%;
  }

  #benefits .container > h2{
    font-size: 3rem;
  }

  #benefits .row .col:nth-child(2n){
    margin-left: 0;
  }

  #benefits .row{
    justify-content: space-between;
  }

  #benefits .row .col{
    width: 30%;
  }

  #about-us .row .left h2{
    font-size: 5rem;
  }
}