@media screen and (min-width: 1000px) {
  .container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .desktop{
    display: block;
  }

  header .right-header{
    align-items: center;
  }
  
  header .right-header ul{
    list-style: none;
  }
  
  header .right-header ul li{
    display: inline;
  }
  
  header .right-header ul li a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 18px;
  }

  header .hamburger-menu{
    display: none;
  }
}