@media screen and (min-width: 1000px) {
  .container{
    width: 75%;
    max-height: 1600px;
    margin: 0 auto;
  }

  .desktop{
    display: block;
  }

  header .right-header{
    align-items: center;
  }
  
  header .right-header ul{
    list-style: none;
  }
  
  header .right-header ul li{
    display: inline;
  }
  
  header .right-header ul li a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 18px;
  }

  header .hamburger-menu{
    display: none;
  }

  #app-infos .col.big{
    padding-bottom: 0;
    flex-direction: row;
  }

  #app-infos .col.big .content{
    width: 50%;
  }
  
  #app-infos .col.big .img-container{
    width: 50%;
    align-items: flex-end;
  }
  
  #app-infos .col.big .img-container img{
    width: 100%;
    margin: 0;
  }

  #app-description .row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #app-description .row .col{
    width: 40%;
    padding: 0 50px;
  }

  #app-description .row .col.right{
    align-self: flex-end;
  }

  #app-description .row .col.right img{
    width: 50%;
  }
}