*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.debug{
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.desktop{
  display: none;
}

.btn{
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: white;
  cursor: pointer;
}

.btn.blue{
  background-color: #0084FD;
  padding: 10px 50px;
  color: white;
  font-weight: 700;
}

.btn.more{
  background-color: #9792E4;
  color: white;
  font-weight: 700;
  padding: 10px 50px;
}