main{
  margin-top: 80px;
}

#app-infos .row{
  flex-direction: column;
  padding: 40px 0;
}

#app-infos .row .col{
  width: 100%;
  margin-bottom: 20px;
}

#app-infos .col{
  background-color: #B5DDFF;
  border-radius: 20px;
  padding: 30px;
}

#app-infos .col h3{
  color: #0084FD;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#app-infos .col p{
  color: #5A6E7F;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

#app-infos .col > i{
  font-size: 5rem;
  color: #0084FD;
  margin-bottom: 30px;
}

#app-infos .col:not(.big){
  text-align: center;
}

#app-infos .col.big{
  padding-bottom: 0;
  flex-direction: column;
}

#app-infos .col.big .img-container{
  width: 100%;
  align-items: flex-end;
}

#app-infos .col.big .img-container img{
  width: 100%;
}

#app-infos .col.big button{
  margin-bottom: 30px;
}

#app-description{
  background-color: #9792E4;
  padding: 50px 0;
}

#app-description .row{
  flex-direction: column;
}

#app-description .row .col{
  width: 100%;
  flex-direction: column;
}

#app-description .row .col.left{
  color: white;
  margin-bottom: 20px;
}

#app-description .row .col.left img{
  padding-bottom: 70px;
}

#app-description .row .col h2{
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

#app-description .row .col.left p{
  line-height: 1.5rem;
}

#app-description .row .col.right{
  background-color: white;
  border-radius: 40px;
  padding: 30px 20px;
  align-items: center;
}

#app-description .row .col.right img{
  width: 100%;
  margin-bottom: 20px;
}

#app-description .row .col.right h2{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#app-description .row .col.right p{
  line-height: 1.5rem;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 30px;
}

#app-description .row .col.right a{
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #111111;
  background-color: #9792E4;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#testimonials{
  padding: 60px 0;
  text-align: center;
}

#testimonials h2{
  font-size: 2rem;
  line-height: 2.5rem;
  color: #9792E4;
  padding: 20px 0;
}

#testimonials .container > p{
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 20px 0;
}

#testimonials .row{
  flex-direction: column;
  padding: 20px 0;
}

#testimonials .row .col{
  background-color: #9792E4;
  border-radius: 40px;
  color: white;
  margin-bottom: 30px;
  flex-direction: column;
}

#testimonials .row .col img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px 0;
}

#testimonials .row .col .content{
  flex-direction: column;
}

#testimonials .row .col p{
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 20px;
  margin-bottom: 30px;
}

#testimonials .row .col .content > span{
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

#testimonials .row .col .big-quotes{
  font-size: 1.8rem;
  line-height: 1rem;
}

#benefits{
  background-color: #9792E4;
  padding: 50px 0;
}

#benefits .container > h2{
  text-align: center;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 50px;
}

#benefits .row{
  flex-direction: column;
}

#benefits .row .col{
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 30px 30px;
  margin-bottom: 30px;
}

#benefits .row .col > h2{
  font-size: 2.5rem;
  color: #9792E4;
  margin-bottom: 20px;
}

#benefits .row .col > h3{
  font-size: 1.5rem;
  color: #9792E4;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#benefits .row .col > p{
  color: #818181;
  font-weight: 200;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

#about-us{
  padding: 50px 0;
}

#about-us .row{
  flex-direction: column;
}

#about-us .left h2{
  font-size: 3rem;
  color: #9792E4;
  margin-bottom: 30px;
}

#about-us .left p{
  line-height: 2.5rem;
  font-weight: 100;
  margin-bottom: 30px;
}

#about-us .right .img-container{
  position: relative;
}

#about-us .right .img-container img:not(.absolute){
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
}

#about-us .right .img-container img.absolute{
  width: 70px;
  position: absolute;
  top: 0;
  left: 140px;
  filter: invert(61%) sepia(18%) saturate(932%) hue-rotate(205deg) brightness(95%) contrast(95%);
}

#about-us .right h3{
  font-size: 1.7rem;
  color: #9792E4;
  line-height: 3rem;
  margin-bottom: 30px;
}

#get-started{
  background-color: #9792E4;
  padding: 70px 0;
  text-align: center;
  color: white;
}

#get-started .container{
  flex-direction: column;
}

#get-started span.transparent-text{
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  margin-bottom: 30px;
}

#get-started h3{
  font-size: 2rem;
  margin-bottom: 30px;
}

#get-started h2{
  color: #FDC15F;
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-weight: 800;
}

#get-started p{
  line-height: 2rem;
  margin-bottom: 30px;
}

#get-started .copyright{
  font-size: 0.9rem;
  line-height: 1rem;
}

#get-started .copyright i{
  font-size: 0.4rem;
  line-height: 1rem;
  vertical-align: middle;
  margin: 0 5px;
}
#get-started .copyright a{
  color: white;
}