@media screen and (min-width: 768px) {
  .container-small{
    width: 60%;
  }
  
  #app-infos .row{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
  }

  #app-infos .row .col.big{
    width: 65%;
  }
  
  #app-infos .row .col{
    width: 30%;
    margin-bottom: 20px;
  }

  #app-infos .col.big img{
    max-width: 300px;
  }

  #app-description .row .col.left h2{
    font-size: 4rem;
  }

  #testimonials .container > h2{
    font-size: 2.6rem;
  } 

  #testimonials .row .col{
    flex-direction: row;
  }

  #testimonials .row .col{
    padding: 10px 20px;
  }

  #testimonials .row .col .img-container{
    width: 30%;
  }

  #testimonials .row .col .content{
    margin-left: 20px;
    text-align: left;
    flex-direction: column;
    align-items: left;
    width: 65%;
    justify-content: center;
  }

  #testimonials .row .col .content p{
    padding: 0;
    margin-bottom: 20px;
  }

  #testimonials .row .col .content span{
    margin: 0;
  }

  #benefits .container > h2{
    font-size: 2.6rem;
  }

  #benefits .row{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #benefits .row .col{
    width: calc((100%/2 ) - 30px);
  }

  #benefits .row .col:nth-child(2n){
    margin-left: 30px;
  }

  #about-us .row{
    flex-direction: row;
    justify-content: space-between;
  }

  #about-us .row .left{
    width: 60%;
  }

  #about-us .row .left h2{
    font-size: 4rem;
  }

  #about-us .row .right{
    width: 30%;
  }

  #get-started h3{
    font-size: 2.8rem;
  }

  #get-started h2{
    font-size: 6rem;
  }

  #get-started p{
    font-size: 1.2rem;
  }
}