@media screen and (min-width: 769px) {
  #app-infos .row{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
  }

  #app-infos .row .col.big{
    width: 65%;
  }
  
  #app-infos .row .col{
    width: 30%;
    margin-bottom: 20px;
  }

  #app-infos .col.big img{
    max-width: 300px;
  }

  #testimonials .row .col{
    flex-direction: row;
  }

  #testimonials .row .col{
    padding: 10px 20px;
  }

  #testimonials .row .col .img-container{
  }

  #testimonials .row .col .content{
    margin-left: 20px;
    text-align: left;
    flex-direction: column;
    align-items: left;
    width: 70%;
    justify-content: center;
  }

  #testimonials .row .col .content p{
    padding: 0;
    margin-bottom: 20px;
  }

  #testimonials .row .col .content span{
    margin: 0;
  }
}